<style>
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

main {
  font-family: 'Nunito', Tahoma;
}

@media (max-width: 1000px){
  header {
    width: 100%;
    height: auto;
  }
}

header {
  z-index: 1;
  font-family: 'Nunito', Tahoma;
  position: fixed;
  top: 10px;
  right: 10px;
  left: 10px;
  max-height: 100px;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  padding: 8px;
  width: 900px;
  margin: 20px;
  background-color: black;
  border-radius: 50% 30% / 8% 70%;
}

ul {
  width: 600px;
  display: flex;
  flex-direction: rows;
  justify-content: space-evenly;
}

img {
  width: 300px;
  height: auto;
}

@media (max-width: 1000px){ 
  body {
    max-width: 100%;
    height: auto;
  }
}

body {
  min-height: 100%;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Nunito', Tahoma;
  position: static;
  background-image: url(https://wallpapercave.com/wp/wp9339729.jpg);
  width: 100%;
  background-repeat: no-repeat;
  color: white;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  margin-top: 200px;
}

#youtube {
  margin-top: 100px;
}

h1 {
  background-color: black;
  border-radius: 30% 30% / 40% 10%;
  width: 100%;
  padding: 5px;
}

nav:hover {
  animation: pulse 4s infinite;
}

@keyframes pulse {
  0% {background-color: black;}
  50% {background-color: #009999;}
  100% {background-color: black;}
}

h1:hover {
  border-radius: 20%;
  animation: pulse 4s infinite;
}

#nav-bur {
  list-style-type: none;
  justify-content: space-evenly;
}

a {
  color: white;
}

a:hover {
  color: #009999;
}

#de-stress {
  margin-top: 100px;
}
#stress-list {
  display: in-line block;
  flex-direction: column;
  list-style-type: none;
  background-color: #009999;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: auto;
  height: auto;
  border-radius: 100px;
}

</style>
